@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html {
	font-family: roboto;
}

tbody > tr {
	border-style: solid;
	border-color: white;
	border-width: 4px;
}

td {
	text-align: left;
	padding-left: 4em;
	padding-right: 4em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	vertical-align: middle;
}
